<% if flash[:alert] %>
	<%= flash[:alert] %>
<% end %>

<% if flash[:notice] %>
	<%= flash[:notice] %>
<% end %>

<h1>Forum for Movies!</h1>

<%= form_tag(movie_path(:search), method: "get") do %>
  <%= label_tag(:search, "Search Movie for:") %>
  <%= text_field_tag(:search) %>
  <%= submit_tag("Search") %>
<% end %>
