<h1><%= @concert.id %></h1>

<div class="test"><strong>Name: </strong><%= @concert.band %></div>
<div class="test"><strong>City: </strong><%= @concert.city %></div>
<div class="test"><strong>Date: </strong><%= @concert.date %></div>
<div class="test"><strong>Price: </strong><%= @concert.price %>€</div>
<div class="test"><strong>Description: </strong><%= @concert.description %></div>
